

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.content {
  max-width: 600px;
  margin: 50px auto;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: -400px;
  text-align: center;
  margin-left: 40%!important;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  color: #333;
}

h3 {
  margin-top: 20px;
  color: #555;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

label {
  flex: 1;
  margin-right: 10px;
  margin-left: 2px;
}

input {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select{
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#subbtn{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  width: 200px;
  margin-left: 32%;
}
