<div class="body">
<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <div class="flex">
    <img src="../../assets/logo3.avif" width="50px" height="50px"alt="logo"> &nbsp;&nbsp;
    <h1>Book App</h1>
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <!-- <li><a href="#book-tickets">Book Tickets</a></li> -->
        <li><a href="/Addbook-Component">Add Book</a></li>
        <!-- <li><a href="#travel-packages">Travel Packages</a></li> -->
        <li><a href="#travel-packages">Manage</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
        <li><i class="fa-solid fa-user"></i><a href="#sign">   Login</a></li>
      </ul>
    </nav>
  </div>
  </header>

  <section id="home">
    <h2>Welcome to our Book App !...</h2>
  </section>
<br>
</div>


